{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Morse Code Converter</h1>
    <div class="col-lg-6 mx-auto text-justify">
        <p class="lead mb-4 mt-4 "><b>Morse code</b> was developed in the early 1830s by Samuel Morse and Alfred Vail as a
            means of
            long-distance communication using telegraph systems.</p>
         <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <p class="lead mb-4">
            It uses a combination of dots and dashes to represent letters and numbers,
            with shorter signals denoting dots and longer signals denoting dashes. </p>
         <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <p class="lead mb-4"> Morse code played a crucial role in maritime and military communication for many years and
            has had a lasting
            impact on the development of telecommunications.</p>
    </div>
</div>
{% endblock %}