{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='icons/morse-code-icon.svg') }}" alt="" width="256" height="256">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Morse Code Converter</h1>
    <div class="col-lg-6 mx-auto text-justify">
        <p class="lead mb-4 mt-4 "><b>Morse code</b> was developed in the early 1830s by Samuel Morse and Alfred Vail as a
            means of
            long-distance communication using telegraph systems.</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot mb-4" viewBox="0 0 16 16">
  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
</svg>
        <p class="lead mb-4">
            It uses a combination of dots and dashes to represent letters and numbers,
            with shorter signals denoting dots and longer signals denoting dashes. </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash mb-4" viewBox="0 0 16 16">
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
</svg>
        <p class="lead mb-4"> Morse code played a crucial role in maritime and military communication for many years and
            has had a lasting
            impact on the development of telecommunications.</p>
    </div>
</div>
{% endblock %}